.drawer-toggle-button {
    height: 24px;
    width: 34px;
    background: transparent;
    border: white solid 1px;
    border-radius: 3px;
    color: white;
}
@media(min-width: 769px) {
    .drawer-toggle-button {
        display: none;
    }
}