.sectionSolution {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #ffffff;
	.icons {
		width: 60%;
		display: flex;
		flex-direction: column;
		.title {
			padding-left: 10%;
			padding-right: 10%;
			h1 {
				color: #2c336e;
				font-size: 50px;
				margin-bottom: 0;
			}
			h2 {
				color: #4f59b0;
				font-size: 30px;
			}
		}
		.icons-text {
			display: flex;
			background-color: #f9faff;
			justify-content: space-around;
			flex-wrap: wrap;
			padding: 5%;
			flex: 1;
			align-items: center;
			div {
				width: 84px;
			}
		}
		.icons-v2 {
			display: flex;
			background-color: #4f58b0;
			justify-content: space-around;
			flex-wrap: wrap;
			align-items: center;
			padding: 5%;
			div {
				width: 84px;
				padding: 2%;
				@media only screen and (max-width: 768px) {
					padding: 5%;
				}
			}
		}
		.users {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			padding: 5%;
		}
		@media only screen and (max-width: 768px) {
			width: 100%;
		}
	}
	.info {
		width: 40%;
		display: flex;
		flex-direction: column;
		.title {
			padding-left: 10%;
			padding-right: 25%;
			h2 {
				color: #4f59b0;
				font-size: 30px;
			}
			@media only screen and (max-width: 768px) {
				padding-right: 10%;
			}
		}
		.card-info {
			display: flex;
			flex: 1;
			padding-left: 5%;
			.vertical-title-section {
				display: flex;
				align-items: center;
				.vertical-title {
					width: 60px;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 60%;
					background-color: #7c87ddff;
					h3 {
						font-size: 30px;
						writing-mode: vertical-rl;
						transform: rotate(180deg);
						color: white;
					}
				}
			}
			.horizontal-info {
				display: flex;
				align-items: center;
				font-size: 18px;
			}
		}

		@media only screen and (max-width: 768px) {
			width: 100%;
			min-height: 100vh;
		}
	}
}
